{% extends "base.html" %}
{% block content %}

<div class="row">
        <h3 class="teal-text">Get to Know Iain</h3>
</div>
<!-- about/my story -->
<div class="row">
    <div class="col s12 m6">
        <div class="card medium teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">My Story</span>
                <p>Hello, I'm Iain Hurton. I love all kinds of exercise including swimming, lifting weights, running and
                    hiking. Exercise is a major part of my lifestyle. Fitness is my passion. I found my love of fitness
                    at 16 years old and haven't looked back since.</p>
            </div>
            <div class="card-action">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card medium teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">My Introduction to Fitness</span>
                <p>I got into fitness at age 16. I was very unfit and had poor eating habits. My father had recently
                    become more active at that time and asked me to join him in going to a bootcamp. I found it very
                    difficult and so, it drove me to always push harder and better myself.</p>
            </div>
            <div class="card-action">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card medium teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">My Favourite Ways to Exercise</span>
                <p>My favourite way to exercise would be a push/pull training plan. Push exercises involve working on
                    muscles in the chest, shoulders and triceps. Pull would focus on legs and core. That being said, I
                    really enjoy circuit training because it is challenging and makes me want to better my last attempt.
                </p>
            </div>
            <div class="card-action">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card medium teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">My Love for Teaching</span>
                <p>My parents always brought us swimming as kids. I truly believe it is a necessity to obtain this skill
                    from an early age as it could potentially save a life. Although not all my clients are young kids,
                    the courage to try to learn an essential skill at any age is incredible and I find it very rewarding
                    to be able to help them on this journey.</p>
            </div>
            <div class="card-action">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card medium teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">My Experience as a Personal Trainer</span>
                <p>Fitness is my passion! The benefits, both physically and mentally, have really changed my life. Being
                    able to help others, with the knowledge I have gained over the years in order to better themselves,
                    is what makes me love doing what I do.</p>
            </div>
            <div class="card-action">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}