{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- about content goes here -->
    <div class="row">
        <div class="col s12 m6">
            <div class="card large teal lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">My Story</span>
                    <p>Hello, I'm Iain Hurton. I love all kinds of exercise including swimming, lifting weights, running and hiking. Exercise is a major part of my lifestyle. Fitness is my passion. I found my love of fitness at 16 years old and haven't looked back since.</p>
                </div>
                <div class="card-action">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}