{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="teal-text">Upcoming Events</h3>
        </div>
    <!-- events -->
    <div class="row">
        <div class="col">
            <div class="card medium teal lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">Outdoor Fitness Bootcamps</span>
                    <p>Come along and get involved in our Fitness Bootcamp! Reach your fitness goals in an encouraging and energetic environment. Exercising with others is great motivation to push your limits.</p>
                    <p>Wednesday 7:30 - 8:15 pm</p>
                    <p>Castletroy Outdoor Park</p>
                </div>
                <div class="card-action">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="card medium teal lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">1:1 Personal Training Session</span>
                    <p>A one-on-one personal training session can be scheduled for time that suits your schedule. Individual training is tailored to your goals, body type and experience level. Benefit from working out personally with a experienced trainer.</p>
                </div>
                <div class="card-action">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card medium teal lighten-2">
                <div class="card-content white-text">
                    <span class="card-title">Swimming Class</span>
                    <p>Dive head first into your next favourite pastime! Swimming classes are suitable for people of all levels of experience whether you are a first timer or an experienced swimmer.</p>
                </div>
                <div class="card-action">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}