{% extends "base.html" %}
{% block content %}


<div class="row">
    <h3 class="teal-text">Upcoming Events</h3>
</div>
<!-- events -->
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card medium hoverable teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">Outdoor Fitness Bootcamps</span>
                <p>Come along and get involved in our Fitness Bootcamp! Reach your fitness goals in an encouraging
                    and energetic environment. Exercising with others is great motivation to push your limits.</p>
                <i class="fas fa-calendar-day"></i>
                <p>Monday & Wednesday</p>
                <i class="fas fa-clock"></i>
                <p>7:30 - 8:15 pm</p>
                <i class="fas fa-map-marker-alt"></i>
                <p>Castletroy Outdoor Park</p>
            </div>
            <div class="card-action">
                <a href="https://www.instagram.com/hurtonsfitness/?hl=en" target="_blank"><i class="fa fa-instagram"></i>
                    Book your place</a>
                <a href="#">Find out more</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <div class="card medium hoverable teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">1:1 Personal Training Session</span>
                <p>A one-on-one personal training session can be scheduled for time that suits your schedule.
                    Individual training is tailored to your goals, body type and experience level. Benefit from
                    working out personally with a experienced trainer.</p>
            </div>
            <div class="card-action">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div class="card medium hoverable teal lighten-2">
            <div class="card-content white-text">
                <span class="card-title">Swimming Class</span>
                <p>Dive head first into your next favourite pastime! Swimming classes are suitable for people of all
                    levels of experience whether you are a first timer or an experienced swimmer.</p>
            </div>
            <div class="card-action">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}