{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row center-align">
        <h3 class="teal-text">Gallery</h3>
        <p>Images were taken during the 2019 <a href="https://spartanraceinfo.com/en/spartan-ireland" class="teal-text">Spartan Race</a>
            at Punchestown Race Course</p>
    </div>
    <!-- spartan images go here -->
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan1.jpg?raw=true"></a>
        <a class="carousel-item" href="#two!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan2.jpg?raw=true"></a>
        <a class="carousel-item" href="#three!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan3.jpg?raw=true"></a>
        <a class="carousel-item" href="#four!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan4.jpg?raw=true"></a>
        <a class="carousel-item" href="#five!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan5.jpg?raw=true"></a>
        <a class="carousel-item" href="#six!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan6.jpg?raw=true"></a>
        <a class="carousel-item" href="#seven!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan7.jpg?raw=true"></a>
        <a class="carousel-item" href="#eight!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan8.jpg?raw=true"></a>
        <a class="carousel-item" href="#nine!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan9.jpg?raw=true"></a>
        <a class="carousel-item" href="#ten!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan10.jpg?raw=true"></a>
        <a class="carousel-item" href="#eleven!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan11.jpg?raw=true"></a>
        <a class="carousel-item" href="#twelve!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan12.jpg?raw=true"></a>
        <a class="carousel-item" href="#thirteen!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan13.jpg?raw=true"></a>
        <a class="carousel-item" href="#fourteen!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan14.jpg?raw=true"></a>
        <a class="carousel-item" href="#fifteen!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan15.jpg?raw=true"></a>
        <a class="carousel-item" href="#sixteen!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan16.jpg?raw=true"></a>
        <a class="carousel-item" href="#seventeen!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan17.jpg?raw=true"></a>
        <a class="carousel-item" href="#eighteen!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan18.jpg?raw=true"></a>
        <a class="carousel-item" href="#nineteen!"><img src="https://github.com/alandoherty95/iain-hurton-fitness/blob/master/static/images/Spartan19.jpg?raw=true"></a>
    </div>
</div>
{% endblock %}