{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h3 class="teal-text">Gallery</h3>
        <p>Images were taken during the 2019 <a href="https://spartanraceinfo.com/en/spartan-ireland">Spartan Race</a>
            at Punchestown Race Course</p>
    </div>
    <!-- spartan images go here -->
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="static/images/Spartan1.jpg"></a>
        <a class="carousel-item" href="#two!"><img src="static/images/Spartan2.jpg"></a>
        <a class="carousel-item" href="#three!"><img src="static/images/Spartan3.jpg"></a>
        <a class="carousel-item" href="#four!"><img src="static/images/Spartan4.jpg"></a>
        <a class="carousel-item" href="#five!"><img src="static/images/Spartan5.jpg"></a>
        <a class="carousel-item" href="#six!"><img src="static/images/Spartan6.jpg"></a>
        <a class="carousel-item" href="#seven!"><img src="static/images/Spartan7.jpg"></a>
        <a class="carousel-item" href="#eight!"><img src="static/images/Spartan8.jpg"></a>
        <a class="carousel-item" href="#nine!"><img src="static/images/Spartan9.jpg"></a>
        <a class="carousel-item" href="#ten!"><img src="static/images/Spartan10.jpg"></a>
        <a class="carousel-item" href="#eleven!"><img src="static/images/Spartan11.jpg"></a>
        <a class="carousel-item" href="#twelve!"><img src="static/images/Spartan12.jpg"></a>
        <a class="carousel-item" href="#thirteen!"><img src="static/images/Spartan13.jpg"></a>
        <a class="carousel-item" href="#fourteen!"><img src="static/images/Spartan14.jpg"></a>
        <a class="carousel-item" href="#fifteen!"><img src="static/images/Spartan15.jpg"></a>
        <a class="carousel-item" href="#sixteen!"><img src="static/images/Spartan16.jpg"></a>
        <a class="carousel-item" href="#seventeen!"><img src="static/images/Spartan17.jpg"></a>
        <a class="carousel-item" href="#eighteen!"><img src="static/images/Spartan18.jpg"></a>
        <a class="carousel-item" href="#nineteen!"><img src="static/images/Spartan19.jpg"></a>
    </div>
</div>
{% endblock %}